<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2008 - 2018 Gerits Aurelien,
 * http://www.magix-cms.com
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: May 22 16:15 2017
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Gerits Aurelien</name>
				<website href="http://www.magix-cms.com" />
			</author>
		</authors>
		<release>
			<date_create>21/03/2018</date_create>
			<date_update>04/01/2023</date_update>
			<version>2.0</version>
			<phase>Stable</phase>
		</release>
		<bind>
			<plugin>
				<name>cartpay</name>
			</plugin>
		</bind>
		<support>
			<ticket href="https://github.com/magix-cms/paypal/issues" />
			<git href="https://github.com/magix-cms/paypal" />
		</support>
	</data>
</config>